@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', Arial, sans-serif;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

.navbar-form .form-group {
	margin-right: 20px;
}

#show_objects+span {
	padding-left: 4px;
}